*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "texto";
    src: url('../images/fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: "titulo";
    src: url('../images/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: "subtitulo";
    src: url('../images/fonts/Montserrat-SemiBold.ttf');
}

/* texto */
h1, h2, h3, p, a{
    text-decoration: none;
    color: black;
}

/* barra de navegación */
header{
    border-bottom: solid 2px black;
    font-family: "texto";
    width: 100%;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.857);
    z-index: 5000;
}
.header_index{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.navbar-toggler{
    border: none;
}
.nav-link:focus-visible {
    box-shadow: none;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    border-radius: 0%;
    border: 0px;
}
.navbar-brand img{
    width: 80px;
}

/* footer */
footer {
    border-top: solid 2px black;
    padding: 5px 0px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "redes texto contacto";
    height: 50px;
}
.footer_redes {
    grid-area: redes;
    align-self: center;
    justify-self: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
}
.footer_texto {
    grid-area: texto;
    align-self: center;
    justify-self: center;
}
.footer_texto p {
    font-family: "texto";
    text-align: center;
}
.footer_contacto{
    grid-area: contacto;
    align-self: center;
    justify-self: end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 20px;
}
.footer_contacto a {
    font-family: "texto";
    display: flex;
    flex-direction: row;
    align-items: center;
}
footer img {
    width: 30px;
}

@media (max-width: 1000px){
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        justify-content: space-between;
    }
    .footer_redes {
        display: flex;
        flex-direction: row;
        padding-left: 0px;
    }
    .footer_texto {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 8px 0px;
    }
    .footer_contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 0px;
    }
}

/* index */
.index1{
    position: relative;
    height: 100%;
}
.index1_texto{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.index1_texto h1{
    font-size: 70px;
    font-family: "titulo";
}
.index1_texto h2{
    font-size: 50px;
    font-family: "subtitulo";
}
.carousel-inner{
    height: 95vh;
    z-index: -1000;
}
.carousel-item img{
    opacity: 50%;
}
.index2{
    padding: 40px 0px;
    text-align: center;
    z-index: -1;
}
.index2 h3{
    font-size: 40px;
    font-family: "subtitulo";
}
.index2 button{
    font-size: 30px;
    border: 2px solid black;
    background-color: white;
    padding: 5px 20px;
}

@media (max-width: 1000px) {
    .index1 h1{
        font-size: 60px;
    }
    .index1 h2{
        font-size: 40px;
    }
    .index2 h3{
        font-size: 30px;
    }
    .card-title{
        font-size: 20px;
    }
    .index2 button{
        font-size: 20px;
        border: 1px solid black;
    }
}

@media (max-width: 700px) {
    .index1 h1{
        font-size: 50px;
    }
    .index1 h2{
        font-size: 30px;
    }
    .index2 h3{
        font-size: 20px;
    }
    .card-title{
        font-size: 16px;
    }
    .index2 button{
        font-size: 16px;
        border: 1px solid black;
    }
}

@media (max-width: 400px) {
    .index1 h1{
        font-size: 40px;
    }
}

/* Cartas Portfolio*/
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: -5000;
}
.card{
    width: 45vw;
    margin: 20px 0px;
}
.card-title{
    font-size: 30px;
    font-family: "texto";
    text-align: center;
}

/*Cabecera Paginas*/
.cabecera{
    height: 55vh;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
    opacity: 80%;
}
.cabecera h1{
    color: white;
    font-family: "titulo";
    font-size: 60px;
}
.cabecera h2{
    color: white;
    font-family: "subtitulo";
    text-align: center;
    font-size: 30px;
    margin: 5px 100px;
}
@media (max-width: 1000px) {
    .cabecera h1{
        font-size: 50px;
    }
    .cabecera h2{
        font-size: 20px;
    }
}

@media (max-width: 700px) {
    .cabecera h1{
        font-size: 40px;
    }
    .cabecera h2{
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .cabecera h1{
        font-size: 30px;
    }
}

/*Portfolio*/
.portfolio1{
    background-image: url('../images/portfolio/portfolioFondo.JPG');
}

@media (max-width: 1000px) {
    .portfolio2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .portfolio2 .card{
        width: 80vw;
    }
}

/*Paginas Portfolio*/
.paginas_portfolio-bodas{
    background-image: url('../images/bodas/bodasFondo.JPG');
}
.paginas_portfolio-grilla{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "b1 b2 b2 b12"
        "b1 b4 b4 b12"
        "b11 b11 b3 b3"
        "b11 b11 b8 b7"
        "b5 b5 b6 b6"
        "b9 b10 b10 b13"
        "b15 b15 b17 b17"
        "b16 b16 b17 b17"
        "b14 b14 b18 b18"
        "b19 b19 b19 b19";
    margin: 5px 0px;
}
.paginas_portfolio-grilla img{
    object-fit: cover;
    width:100%;
    height:100%;
}
.paginas_portfolio-grilla1{
    grid-area: b1;
}
.paginas_portfolio-grilla2{
    grid-area: b2;
}
.paginas_portfolio-grilla3{
    grid-area: b3;
}
.paginas_portfolio-grilla4{
    grid-area: b4;
}
.paginas_portfolio-grilla5{
    grid-area: b5;
}
.paginas_portfolio-grilla6{
    grid-area: b6;
}
.paginas_portfolio-grilla7{
    grid-area: b7;
}
.paginas_portfolio-grilla8{
    grid-area: b8;
}
.paginas_portfolio-grilla9{
    grid-area: b9;
}
.paginas_portfolio-grilla10{
    grid-area: b10;
}
.paginas_portfolio-grilla11{
    grid-area: b11;
}
.paginas_portfolio-grilla12{
    grid-area: b12;
}
.paginas_portfolio-grilla13{
    grid-area: b13;
}
.paginas_portfolio-grilla14{
    grid-area: b14;
}
.paginas_portfolio-grilla15{
    grid-area: b15;
}
.paginas_portfolio-grilla16{
    grid-area: b16;
}
.paginas_portfolio-grilla17{
    grid-area: b17;
}
.paginas_portfolio-grilla18{
    grid-area: b18;
}
.paginas_portfolio-grilla19{
    grid-area: b19;
}

/* Sobre Mi­*/
.sobreMi{
    margin-bottom: 10px;
}
.sobreMi_titulo{
    display: flex;
    justify-content: center;
    padding: 5px 0px;
}
.sobreMi_titulo h1{
    font-size: 50px;
    font-family: "titulo";
}
.sobreMi_cuerpo{
    display: flex;
}
.sobreMi_cuerpo_imagen{
    padding-right: 10px;
    padding-left: 15px;
}
.sobreMi_cuerpo_imagen img{
    width: 45vw;
}
.sobreMi_cuerpo_descripcion{
    padding-right: 15px;
    padding-left: 10px;
    margin-bottom: 5px;
}
.sobreMi_cuerpo_descripcion h3{
    font-size: 30px;
    font-family: "subtitulo";
}
.sobreMi_cuerpo_descripcion h2{
    font-size: 40px;
    font-family: "subtitulo";
    padding-bottom: 15px;
}
.sobreMi_cuerpo_descripcion p{
    font-size: 16px;
    font-family: "texto";
    line-height: 22px;
}
@media (max-width: 1300px) {
    .sobreMi_cuerpo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sobreMi_cuerpo_imagen img{
        width: 600px;
    }
    .sobreMi_cuerpo_descripcion{
        margin-top: 10px;
    }
}
@media (max-width: 1000px){
    .sobreMi_titulo h1{
        font-size: 40px;
    }
    .sobreMi_cuerpo_descripcion h3{
        font-size: 20px;
    }
    .sobreMi_cuerpo_descripcion h2{
        font-size: 30px;
    }
}
@media (max-width: 400px){
    .sobreMi_titulo h1{
        font-size: 30px;
    }
    .sobreMi_cuerpo_descripcion h3{
        font-size: 15px;
    }
    .sobreMi_cuerpo_descripcion h2{
        font-size: 20px;
    }
}