@font-face {
    font-family: "texto";
    src: url('../images/fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: "titulo";
    src: url('../images/fonts/Montserrat-Bold.ttf');
}

@font-face {
    font-family: "subtitulo";
    src: url('../images/fonts/Montserrat-SemiBold.ttf');
}