.paginas_portfolio_estudio{
    background-image: url('../../images/estudio/estudioFondo.jpg');
    h1{
        color: black;
        text-shadow: 2px 2px 8px white;
    }
    h2{
        color: black;
        text-shadow: 2px 2px 8px white;
    }
}
.paginas_portfolio_estudio-grilla{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "e1 e2 e2 e3"
        "e1 e4 e5 e3"
        "e6 e7 e8 e9"
        "e6 e7 e8 e9"
        "e12 e12 e10 e14"
        "e12 e12 e10 e14"
        "e11 e16 e16 e13"
        "e11 e16 e16 e13"
        "e15 e17 e19 e18"
        "e15 e17 e19 e18"
        "e21 e21 e20 e22"
        "e21 e21 e23 e24"
        "e26 e27 e25 e25"
        "e26 e27 e25 e25"
        "e28 e28 e29 e30"
        "e31 e31 e29 e30"; 
    margin: 5px 0px;
    div{
        img{
            object-fit: cover;
            width:100%;
            height:100%;
        }
    }
    .paginas_portfolio_estudio-grilla1{
        grid-area: e1;
    }
    .paginas_portfolio_estudio-grilla2{
        grid-area: e2;
    }
    .paginas_portfolio_estudio-grilla3{
        grid-area: e3;
    }
    .paginas_portfolio_estudio-grilla4{
        grid-area: e4;
    }
    .paginas_portfolio_estudio-grilla5{
        grid-area: e5;
    }
    .paginas_portfolio_estudio-grilla6{
        grid-area: e6;
    }
    .paginas_portfolio_estudio-grilla7{
        grid-area: e7;
    }
    .paginas_portfolio_estudio-grilla8{
        grid-area: e8;
    }
    .paginas_portfolio_estudio-grilla9{
        grid-area: e9;
    }
    .paginas_portfolio_estudio-grilla10{
        grid-area: e10;
    }
    .paginas_portfolio_estudio-grilla11{
        grid-area: e11;
    }
    .paginas_portfolio_estudio-grilla12{
        grid-area: e12;
    }
    .paginas_portfolio_estudio-grilla13{
        grid-area: e13;
    }
    .paginas_portfolio_estudio-grilla14{
        grid-area: e14;
    }
    .paginas_portfolio_estudio-grilla15{
        grid-area: e15;
    }
    .paginas_portfolio_estudio-grilla16{
        grid-area: e16;
    }
    .paginas_portfolio_estudio-grilla17{
        grid-area: e17;
    }
    .paginas_portfolio_estudio-grilla18{
        grid-area: e18;
    }
    .paginas_portfolio_estudio-grilla19{
        grid-area: e19;
    }
    .paginas_portfolio_estudio-grilla20{
        grid-area: e20;
    }
    .paginas_portfolio_estudio-grilla21{
        grid-area: e21;
    }
    .paginas_portfolio_estudio-grilla22{
        grid-area: e22;
    }
    .paginas_portfolio_estudio-grilla23{
        grid-area: e23;
    }
    .paginas_portfolio_estudio-grilla24{
        grid-area: e24;
    }
    .paginas_portfolio_estudio-grilla25{
        grid-area: e25;
    }
    .paginas_portfolio_estudio-grilla26{
        grid-area: e26;
    }
    .paginas_portfolio_estudio-grilla27{
        grid-area: e27;
    }
    .paginas_portfolio_estudio-grilla28{
        grid-area: e28;
    }
    .paginas_portfolio_estudio-grilla29{
        grid-area: e29;
    }
    .paginas_portfolio_estudio-grilla30{
        grid-area: e30;
    }
    .paginas_portfolio_estudio-grilla31{
        grid-area: e31;
    }
}
@media (min-width: 660px){
    .paginas_portfolio_estudio{
        background-image: url('../../images/estudio/estudioFondo-xl.jpg');
    }
}
@media (min-width: 900px){
    .paginas_portfolio_estudio{
        background-image: url('../../images/estudio/estudioFondo-xxl.jpg');
    }
}