.index1{
    position: relative;
    height: 100%;
    .index1_texto{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h1{
            font-size: 70px;
            font-family: "titulo";
        }
        h2{
            font-size: 50px;
            font-family: "subtitulo";
        }
    }
    .carousel-inner{
        height: 95vh;
        z-index: -1000;
        .carousel-item{
            img{
            opacity: 50%;
            }
        }
    }
}
.index2{
    padding: 40px 0px;
    text-align: center;
    z-index: -1;
    h3{
        font-size: 40px;
        font-family: "subtitulo";
    }
    button{
        font-size: 30px;
        border: 2px solid black;
        background-color: white;
        padding: 5px 20px;
    }
}

@media (max-width: 1000px) {
    .index1{ 
        h1{
            font-size: 60px;
        }
        h2{
            font-size: 40px;
        }
    }
    .index2{
        h3{
            font-size: 30px;
        }
        .card-title{
            font-size: 20px;
        }
        button{
            font-size: 20px;
            border: 1px solid black;
        }
    }
}

@media (max-width: 700px) {
    .index1{
        h1{
            font-size: 50px;
        }
        h2{
            font-size: 30px;
        }
    }
    .index2{
        h3{
            font-size: 20px;
        }
        .card-title{
            font-size: 16px;
        }
        button{
            font-size: 16px;
            border: 1px solid black;
        }
    }
}

@media (max-width: 400px) {
    .index1{
        h1{
            font-size: 40px;
        }
    }
}