.index1{
    position: relative;
    height: 100%;
    .index1_texto{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h1{
            font-size: 70px;
            font-family: "titulo";
            text-shadow: 2px 2px 8px white;
        }
        h2{
            font-size: 50px;
            font-family: "subtitulo";
            text-shadow: 2px 2px 8px white;
        }
    }
    div{
        .carousel-inner{
            height: 95vh;
            z-index: -1000;
            .carousel-item{
                height: 100vh;
                background-size:cover;
                background-position:center;
                background-repeat:no-repeat;
            }
            .carousel-item1{
                background-image: url('../../images/carousel/carrusel1.jpg');
            }
            .carousel-item2{
                background-image: url('../../images/carousel/carrusel2.jpg');
            }
            .carousel-item3{
                background-image: url('../../images/carousel/carrusel3.jpg');
            }
            .carousel-item4{
                background-image: url('../../images/carousel/carrusel4.jpg');
            }
        }
    }
}
.index2{
    padding: 30px 0px;
    text-align: center;
    z-index: -1;
    a{
        h3{
            font-size: 40px;
            font-family: "subtitulo";
            cursor: pointer;
            margin: auto;
            transition: font-weight 0.1s ease-in-out;
            &:hover {
                font-weight: 1000;
            }
            &:active {
                font-weight: 1000;
            }
        }
    }
    .index2_portfolio{
        display: flex;
        justify-content: center;
        height: 500px;
        gap: 10px;
        margin: 20px 0px;
        div{
            flex: 0 0 120px;
            border-radius: 0.5rem;
            transition: 0.5s ease-in-out;
            cursor: pointer;
            position: relative;
            overflow: hidden;
            &:nth-of-type(1) {
                background: url("../../images/portfolio/portfolio_bodas.jpg") no-repeat 50% / cover;
            }
            &:nth-of-type(2) {
                background: url("../../images/portfolio/portfolio_estudio.jpg") no-repeat 50% / cover;
            }
            &:nth-of-type(3) {
                background: url("../../images/portfolio/portfolio_fiestade15.jpg") no-repeat 50% / cover;
            }
            &:nth-of-type(4) {
                background: url("../../images/portfolio/portfolio_exteriores.jpg") no-repeat 50% / cover;
            }
            a{
                .index2_portfolio_contenido{
                    font-size: 1.5rem;
                    font-family: "texto";
                    color: #fff;
                    display: flex;
                    align-items: center;
                    padding: 15px;
                    opacity: 0;
                    flex-direction: column;
                    height: 100%;
                    justify-content: flex-end;
                    background: rgba(255, 255, 255, 0);
                    background: linear-gradient(
                    0deg,
                    rgba(254, 254, 255, 0.645) 0%,
                    rgba(255, 255, 255, 0) 100%
                    );
                    transform: translatey(100%);
                    transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
                    visibility: hidden;
                }
            }
            &:hover {
                flex: 0 0 250px;
                transform: translatey(-30px);
            }
            &:hover .index2_portfolio_contenido {
                opacity: 1;
                transform: translatey(0%);
                visibility: visible;
            }
        }
    }
    form{
        button{
            font-size: 30px;
            border: 2px solid black;
            background-color: white;
            padding: 5px 20px;
            cursor: pointer;
            margin: auto;
            transition: font-weight 0.1s ease-in-out;
            &:hover {
                font-weight: 800;
            }
            &:active {
                font-weight: 800;
            }
        }
    }
}

@media (max-width: 1300px){
    .index1{
        div{
            .carousel-inner{
                .carousel-item2{
                    background-image: url('../../images/carousel/carrusel2-mobile.jpg');
                }
            }
        }
    }
}
@media (max-width: 1000px) {
    .index1{ 
       .index1_texto{
            h1{
                font-size: 60px;
            }
            h2{
                font-size: 40px;
            }
        }
    }
    .index2{
        padding: 25px 0px;
        a{
            h3{
                font-size: 30px;
            }
        }
        .card-title{
            font-size: 20px;
        }
        form{
            button{
                font-size: 20px;
                border: 1px solid black;
            }
        }
    }
}
@media (min-width: 900px){
    .index1{
        div{
            .carousel-inner{
                .carousel-item4{
                    background-image: url('../../images/carousel/carrusel4-xl.jpg');
                }
            }
        }
    }
}
@media (max-width: 700px) {
    .index1{ 
        .index1_texto{
            h1{
                font-size: 50px;
            }
            h2{
                font-size: 30px;
            }
        }
    }
    .index2{
        padding: 20px 0px;
        a{
            h3{
                font-size: 20px;
            }
        }
        .card-title{
            font-size: 16px;
        }
        form{
            button{
                font-size: 16px;
                padding: 4px 15px;
            }
        }
    }
}
@media (max-width: 650px){
    .index2{
        .index2_portfolio{
            display: none;
        }
    }
}
@media (min-width:651px) {
    .index2{
        .cards{
            display: none;
        }
    }
}
@media (max-width: 400px) {
    .index1{ 
        .index1_texto{
            h1{
                font-size: 40px;
            }
        }
    }
    .index2{
        padding: 15px 0px;
    }
}