/* Sobre Mi­*/
.sobreMi{
    margin-bottom: 10px;
    .sobreMi_titulo{
        display: flex;
        justify-content: center;
        padding: 5px 0px;
        h1{
            font-size: 50px;
            font-family: "titulo";
        }
    }
    .sobreMi_cuerpo{
        display: flex;
        align-items: center;
        .sobreMi_cuerpo_imagen{
            padding-right: 10px;
            padding-left: 15px;
            img{
                width: 45vw;
            }
        }
        .sobreMi_cuerpo_descripcion{
            padding-right: 15px;
            padding-left: 10px;
            margin-bottom: 5px;
            h3{
                font-size: 30px;
                font-family: "subtitulo";
            }
            h2{
                font-size: 40px;
                font-family: "subtitulo";
                padding-bottom: 15px;
            }
            p{
                font-size: 16px;
                font-family: "texto";
                line-height: 22px;
            }
        }
    }
}
@media (max-width: 1300px) {
    .sobreMi{
        .sobreMi_cuerpo{
            display: flex;
            flex-direction: column;
            align-items: center;
            .sobreMi_cuerpo_imagen{
                img{
                    width: 600px;
                }
            }
            .sobreMi_cuerpo_descripcion{
                margin-top: 10px;
            }
        }
    }
}
@media (max-width: 1000px){
    .sobreMi{
        .sobreMi_titulo{
            h1{
                font-size: 40px
            }
        }
        .sobreMi_cuerpo{
            .sobreMi_cuerpo_descripcion{
                h3{
                    font-size: 20px;
                }
                h2{
                    font-size: 30px;
                }
            }
        }
    }
}
@media (max-width: 600px){
    .sobreMi{
        .sobreMi_cuerpo{
            .sobreMi_cuerpo_imagen{
                img{
                    width: 400px;
                }
            }
        }
    }
}
@media (max-width: 400px){
    .sobreMi{
        .sobreMi_titulo{
            h1{
                font-size: 30px
            }
        }
        .sobreMi_cuerpo{
            .sobreMi_cuerpo_imagen{
                img{
                    width: 300px;
                }
            }
            .sobreMi_cuerpo_descripcion{
                h3{
                    font-size: 15px;
                }
                h2{
                    font-size: 20px;
                }
            }
        }
    }
}